.google-map {
    min-width: 370px; 
    max-width: 2000px;
    height: 89vh;
    position: absolute; 
    left: 430px;
    right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.origin-select {
    margin-top: -60px;
}
 .destination-select {
    margin-top: 10px; 
} 

.MuiButtonGroup-root {
    margin-top: 30px;
    margin-left: -150px;
}

.journey-container {
    margin-left: 5px;
    margin-top: 5px;
    height: 170px; 
    width: 414px;
    background-color: aqua;
    position: absolute;
    border-radius: 10px;
    white-space: normal;
    overflow: hidden;
}

.journey-container.journey_back_drop {
    display: inline-block;
    position: fixed;
   
    z-index: 20;
    background: rgba(0, 0, 0, 0.8);
  }
  
    