.google-map {
    /* min-width: 370px; 
    max-width: 2000px; */
    height: 100%;
    width: 100%;
    position: absolute; 
    /* left: 430px;
    right: 10px; 
    margin-top: 5px; 
    margin-bottom: 5px;
    z-index: -1; */
}


/* .journey-container.journey_back_drop {
    display: inline-block;
    position: fixed;
   
    z-index: 20;
    background: rgba(0, 0, 0, 0.8);
  } */
  
    