.back_ground {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 20;
    background: rgba(0, 0, 0, 0.8);
    border-radius:10px;
  }

  .dialoguebox {
    z-index: 21;
    position: absolute;
    background-color: white;
    /* margin-bottom: 40%; */
    width: 70%;
    /* padding: 2rem; */
    border-radius:10px;
  }

  .header {
      /* height: 25%; */
      background-color: #F1B23E;
      top: 0;
      padding:1rem;
  }

  .header h4 {
      margin: 0;
      color: white;
  }

  .content {
      padding: 1rem;
  }
