.journey-planner {
  margin-top: 1.2rem;
}

.journey-options,
.origin-destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-options {
  display: flex;
  justify-content: center;
  margin: 0.25rem;
}

#destination,
#origin {
  height: 1.5rem;
  width: 18rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: lightgrey;
}
#datetime {
  height: 1.5rem;
  width: 12rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: lightgrey;
}
.buttons {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.reverse-button {
  align-self: flex-end;
  position: absolute;
}

.journey1-container {
  margin-top: 0.5rem;
  width: 25rem;
  background-color: whitesmoke;
  border-radius: 10px;
  z-index: 2;
}
