.mininav-items { 
    background: darkgray;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1rem; 
    
}
.mininav-menu { 
    display: grid; 
    text-align: center; 
    justify-content: end; 
   


}
