.route_options {
  list-style-type: none;
  /* removes the space bullets took up to allow centering */
  padding-left: 0;
  
  
}

  .route_options li Button {
   min-width: 100%;
  }


.route {
  position: fixed;

 


  z-index: 30;
  white-space: normal;
  overflow: hidden;
  /* box-shadow: 0 2px 8px rgba(143, 103, 103, 0.26); */
  border-radius: 10px;

}

.back_ground {
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
}
