.side-container {
    margin-left: .5rem;
    margin-top: 12rem;
    max-width: 25rem; 
    background-color: aqua;
    position: absolute;
    margin-bottom: .5rem;
    border-radius: 10px;
    white-space: normal;
    overflow:hidden;
    height: 79%;
    z-index: 2;
   
}
/* min and max width of mobile device */
