.side-container {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  width: 25rem;
  background-color: whitesmoke;
  position: absolute;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
  white-space: normal;
  overflow-x: scroll;
  box-shadow: 2px 12px 24px 0px rgba(0, 0, 0, 0.43);
  z-index: 2;
}
/* min and max width of mobile device */
