.route_options {
  list-style-type: none;
}

.route {
  position: fixed;

 


  z-index: 30;
  white-space: normal;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(143, 103, 103, 0.26);
  border-radius: 10px;
  /* display: flex;
  justify-content: center;
  z-index: 30; */
  /* display: inline-block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);

  z-index: 10;
  width: 100%; */
}

.back_ground {
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
}
