.LogIn{
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #e9eaee;
}
.log_in_modal {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 30%;
  width: 100%;
  z-index: 30;
  background: red;
  box-shadow: 0 2px 8px rgba(143, 103, 103, 0.26);
  border-radius: 10px;
}

.log_in_modal_content {
  position: absolute;
  background-color: white;
  margin-bottom: 40%;
  width: 50%;
  padding: 2rem;
  border-radius:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.log_in_modal_content div{margin-top:5px;border:0px;padding:0px;}

.back_drop {
  left: 0;
  top: 0;
  position: absolute;
  height: 112%;
  width: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
}