.weather_container {
  margin-left: 80%;
  background-color: black;
  position: absolute;
  border-radius: 30px;
  width: 3rem;
  display: flex;
}
.display_weather {
  font-weight: bold;
  margin-left: 0.3rem;
}
